header#header {
    display: none;
}

input#Field5, input#Field3, input#Field7 {
  border-radius: 3px;
  height: 30px;
  border: 1px solid #ccc;
  background: #fafafa;
}

textarea#Field4{
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fafafa;
}

input#Field7 {
    width: 100%;
}

input#saveForm {
  width: 175px;
  height: 40px;
  color: white;
  background-color: #2b4a67;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
  display: block;
}

li#fo1li3.focused, li#fo1li5.focused, li#fo1li7.focused, li#fo1li4.focused {
    background-color: transparent  !important;
}

span#req_5, span#req_3, span#req_4{
    color: #2b4a67 !important;
}

form li div label, form li span label {
    color: #807c7c !important;
}

textarea#Field4::placeholder {
  color: #807c7c !important;;
}

/* Error css */
li#errorLi {
    display: none;
}

li#fo1li5, li#fo1li7, li#fo1li3, li#fo1li4 {
    background-color: none !important;
}

label#title5, label#title3, label#title4, label#title7 {
    color: #2b4a67 !important;
}


/* background */
#container, html.embed {
    background-color: transparent !important;
}
