.image-block{
    width: 96%;
    margin: 0 auto;
}

.block-img{
    width: 30%;
    float: left;
    img{
        width: 80%;
        margin: 0 auto;
    }
}

.block-desc{
    width: 70%;
    float: right;
}