.homepage{    
    .featured{
        width: 100%;
        h2{
            text-align: center;
        }
        .featured-img{
            align-items: center;
            display: flex;
            margin-bottom: 5px;
            overflow: auto;
        }
        .block-img{
            width: 40%;
            float: left;
            img{
                width: 80%;
                margin: 0 auto;
            }
        }
        
        .block-desc{
            width: 60%;
            float: right;
        }
    }
}