
.base .shroud {
    background-color:  rgba(0, 0, 0, 0.75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.base .shroud {
  position: fixed;
  width: 70%;
  margin-left: 29%;
  height: 100%;
  top: 0;
  left: 0;
}

.shroud{
  z-index: 2147483644;
}

/* min-height specified in Overlay1.js */
.overlay-popup{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  overflow: hidden;
  z-index: 2147483645;
  text-align: center;
  background-color: rgb(277, 277, 277);
}

.overlay-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2147483645;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
 }


 @media (max-width: 768px) {
   .overlay-popup {
     width: 80%;
     height: 400px;

   }

 }

 @media (max-width: 325px) {

   .continue-button-overlay {
     margin-top: 10px;
   }

   .where-spacing {
     padding: 0;
   }

   .overlay-popup {
     margin-top: 5px;
     width: 95%;
     height: 400px;

   }

 }

 .close {
  position: absolute;
  right: 28px;
  top: 24px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }

  .desc {
    width: 90%;
    margin: 0 auto;
    line-height: 24px;
    margin-top: 50px;
    text-align: justify !important;
    margin-bottom: 50px;
  }

  .all-caps{
    text-transform: uppercase;
  }

  #overlay-img{
    width: 100%;
  }

  .box {
    position: relative;
  }
.left-arrow,
.right-arrow {
    width: 60px;
    height: 60px;
    display: block;
    top: 50%;
    margin-top: -30px; /* img height/2 */
    position: absolute;
}
.left-arrow {
    left: -13px;
    opacity: 0.6;
    transform: rotate(-180deg);
}
.right-arrow {
    right: -13px;
    opacity: 0.6;
}

.right-arrow:hover, .left-arrow:hover {
  opacity: 1;
}
