/* reused styles */

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeue.ttc');
}

body{
  background-color: white;
  font-family: Helvetica;
  color: #2b4a67;
  height: 100%;
}

#menu i {
  border: solid #2b4a67;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0px 0px 1px 3px;
}

.content{
  width: 95%;
  margin-left: 6%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 601px) {
  .column-1 {
    float: left;
    width: 29%;
    position: fixed;
  }

  .column-2 {
    float: left;
    width: 70%;
    margin-left: 29%;
  }
  #logo-mobile{
    display:none;
  }
  .header-menu {
    display: none;
  }
}
@media (max-width: 600px) {
  .base{
    display: none;
  }
  .gallery{
    padding-top: 37px;
  }
  .row-grid {
    display: block !important;
  }

  .column-1 {
    display:none;
    position: fixed;
  }

  .column-2 {
    width: 100%;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  #logo-mobile{
    width: 35%;
    float: left;
    z-index: 10;
    position: fixed;
  }

  .click{
    display: none;
  }

  /* humburger menu start */
/* header */

.header-menu {
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  margin: 0;
  background: rgb(256,256,256,0.7);
}

.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(256,256,256,0.7);
}

.header-menu li a {
  display: block;
  padding: 15px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  border-top: 1px solid #dedbdb;
}

.header-menu li a:hover,
.header-menu .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header-menu .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header-menu .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px 20px;
  position: relative;
  user-select: none;
}

.header-menu .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header-menu .menu-icon .navicon:before,
.header-menu .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header-menu .menu-icon .navicon:before {
  top: 5px;
}

.header-menu .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header-menu .menu-btn {
  display: none;
}

.header-menu .menu-btn:checked ~ .menu {
  max-height: 2140px;
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



  /* humburger menu end */
}

.title{
  text-align: center;
  line-height: 10px;
  font-size: 14px;
}

#header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#logo{
  width: 60%;
}


#home-img{
  width: 100%;
}

#menu{
  /* position: relative; */
  margin-top: 55px;
}

#contact{
  margin-top: 240px;
}

#footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: #2b4a67;
   text-align: center;
   height: 50px;
}

#about{
  margin-top: 100px;
  padding-right: 50px;
  text-align: justify;
  line-height: 25px;
}

#profile-pic{
  width: 40%;
  float: left;
  margin-right: 10px;
}

#contact-form{
  padding-top: 100px;
}
