/* reused styles */

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeue.ttc');
}

body{
  background-color: white;
  font-family: Helvetica;
  color: #2b4a67;
  height: 100%;
}

i {
  border: solid #2b4a67;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0px 0px 1px 3px;
}

.content{
  width: 95%;
  margin-left: 6%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-1 {
  float: left;
  width: 29%;
}

.column-2 {
  float: left;
  width: 70%;
}

#header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#logo{
  width: 60%;
}

/* #about{
  float: right;
  margin: 10px 0px 10px 0px;
} */

#home-img{
  width: 100%;
}

#menu{
  /* position: relative; */
  margin-top: 55px;
}

#contact{
  margin-top: 240px;
}

#footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: #2b4a67;
   text-align: center;
   height: 50px;
}

#about{
  margin-top: 100px;
  padding-right: 50px;
  text-align: justify;
  line-height: 25px;
}

#profile-pic{
  width: 40%;
  float: left;
  margin-right: 10px;
}

#contact-form{
  padding-top: 100px;
  background: url("./imgs/form-bkg");
  background-repeat: no-repeat;
  background-size: cover;
}
